@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html, 
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}

.wrapper {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    /* border: 4px solid rgb(255, 0, 0); */
}

.menu_box {
    position: relative;
    width: 100%;
    padding: 28px 0 28px 0; 
    margin: 0 auto;
    text-align: center;
    list-style: none;
 }
 
 .menu__item {
     display: inline-block;
     margin: 0 20px;
 }
 
.menu___link {
    color:#525252;
    text-decoration: none;
}

.main_title {
    color:#070707;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 65px;
    margin: 12px 0 50px 0;
}

.menu_box:after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #828282;
}

h2 {
    font-size: 1.9rem;
    text-align: center;
    color: #070707;
}

p {
    font-weight: 400;
    line-height: 25px;
}

.about_header {
    margin: 100px 0 35px 0; 
}

.about>p {
    text-align: center;
    margin: 15px 0 15px 0;
}

.about>p:last-child {
    margin: 15px 0 190px 0;
}

.skills_header {
    margin: 100px 0 20px 0;
}

.skills p {
    font-weight: 400;
    margin: 0 0 50px 0;
    text-align: center;
}
 
.skills__img {
    width: 100%;
    /* border: 3px solid black;  */
}

.skills__img>img {
    display: inline-block;
    margin: 0 95px 25px 100px;
}

.skills__img>img:first-child {
    margin-left: 45px;
}

.skills__img>img:last-child {
    margin-left: 60px;
    margin-right: 60px;
}

.skills__tille>span {
    display: inline-block;
    text-align: center;
    margin: 0 85px 60px 115px;
    font-size: 0.78rem;
    color:#828282;
    font-weight: 700;
}

.skills__tille>span:first-child {
    margin-left: 48px;
}

.skills__tille>span:last-child {
    margin-left: 70px;
    margin-right: 60px;
}

.skills__ratings>img {
    display: inline-block;
    margin: 0 45px 100px 60px; 
}

.skills__ratings>img:first-child {
    margin-left: 0px;
}

.skills__ratings>img:last-child {
    margin-right: 0px;
    margin-left: 15px;
}